<mat-card>
    <mat-card-title>Canvas <button *ngIf="showVariantButton()" (click)="addVariant()" class="pull-right" mat-raised-button color="primary"><mat-icon>add</mat-icon> Variant</button> </mat-card-title>
    <mat-card-subtitle>{{currentView.name}}</mat-card-subtitle>
    <mat-card-content>
        Here comes the content for UI elements
        <div #cardContent class="card-border" [style.width.px]="width" [style.height.px]="height">
        </div>
        <span *ngIf="showVariantButton()">
            Variants:
            <span *ngFor="let v of currentView.variants; let i=index;">
                <button mat-button (click)="showVariant(v)">{{i+1}}</button>
                <button mat-icon-button (click)="deleteVariant(v)"><mat-icon>delete</mat-icon></button>
            </span>
        </span>
    </mat-card-content>
</mat-card>