<mat-card style="margin: 50px;">
    <mat-card-title>
        Users
        <button class="pull-right" mat-icon-button (click)="createNewUsers()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-title>
    <mat-card-subtitle>Add and update Users</mat-card-subtitle>
    <mat-card-content>
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Email / Username</th>
                    <th>Experiments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i=index;">
                    <td style="text-align: center;">{{i + 1}}</td>
                    <td style="text-align: center;">{{user.email}}</td>
                    <td style="text-align: center;"></td>
                    <!-- <td style="text-align: center;">{{experiment.start +' - '+ experiment.end}}</td> -->
                    <!-- <td style="text-align: center;">{{experiment.priority}}</td> -->
                    <!-- <td style="text-align: center;">{{experiment.evaluationType}}</td> -->
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>